@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SangBleu Sunrise';
  src: url('https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot');
  src: url('https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.svg#SangBleu Sunrise')
      format('svg');
}

:root {
  /* fonts */
  --primary1-fs: 'SangBleu Sunrise', serif;
  --primary2-fs: 'Plus Jakarta Sans', sans-serif;
  --color-primary: '#1C3051';
  --color-secondary: '#CDC4B1';
  --color-paragraph: '#2A2B2A';
  --color-cta: '#5A2A24';
  --color-testimonial: '#e5e5e5';
}

* {
  margin: 0 auto;
}
a {
  margin: 0;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src//assets/images/hero-bg.jpg);
  /* font-family: var(--primary2-fs); */
  min-height: 1080px;
  height: 100vh;
  /* width: 100vw; */
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  letter-spacing: var(--spacing);
  /* line-height: 1.25; */
  /* margin-bottom: 0.75rem; */
  font-family: var(--primary1-fs) !important;
}

/* SEARCH FUNCTION */
.search-input {
  width: 0;
  padding: 0;
  transition: width 0.1s ease-in-out;
}
.search-input.active {
  width: 100px;
  padding: 0 0.8rem;
}
input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.search-bg {
  background-color: white;
  margin-left: 15px;
  height: 45px;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: 'X';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  font-weight: 600;
  z-index: 1;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: var(--primary2-fs);
  /* 	border-radius: 50%; */
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
}
.search-input:not(:valid) ~ .close-icon {
  display: none;
}

[v-cloak],
[x-cloak],
[x-cloak=''] {
  display: none !important;
}
#mobile-menu-nav:not(.mm-spn--navbar) {
  display: none;
}
#gallery-modal {
  opacity: 1;
  transition: opacity ease-in-out 0.25s;
}
#gallery-modal.htmx-request {
  opacity: 0;
}

/* SWIPER JS */
.swiper {
  width: 100%;
  height: 65vh;
}

.swiper-slide {
  text-align: left;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
/* .swiper-slide.swiper-slide-active {
  margin-left: -370px;
} */

.hero-btn-primary {
  margin-left: 40px !important;
}

/* TABLET RESPONSIVE */
@media screen and (max-width: 1024px) {
  .hero-navigations {
    background-color: #1c3051;
  }
  .hero-btn-primary {
    display: none;
  }
  .swiper-slide {
    text-align: center;
  }
  .swiper {
    height: 80vh;
  }
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 414px) {
  body {
    height: 1080px;
  }
  .logo {
    height: 40px;
  }
  .hero-title {
    font-size: 3.4rem;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  .sb-container.flex.flex-center.items-center {
    margin-right: 20px;
  }
  h2,
  .cta,
  .keen-slider {
    text-align: center;
  }
  #utility-nav ul > li {
    margin-right: 0.1%;
    margin-left: 0;
  }
  .hero-nav-primary {
    background-color: #1c3051;
    padding: 5px 0;
  }
  .hero-btn-secondary {
    display: unset;
    color: white;
  }
  .hero-btn-primary {
    display: none;
  }
  a.flex.items-center {
    margin: 0;
    padding-left: 20px;
  }
  .flex.flex-center.items-center {
    margin: 1px;
    padding-right: 0;
  }
  footer.testimonial-title {
    margin: 0 !important;
  }
  #utility-nav {
    padding-right: 5%;
  }
  .swiper-slide {
    width: 100vw;
  }
}
